*.sublime*
*.mem
nbs/.ipynb_checkpoints
2015-03-17-GroupPresentation
2015-04-14-GroupPresentation
quals2
paper/images
*.aux
*.log
*.synctex.gz
*.out
*.bbl
*.blg
*.pdf
images/traj_anim/*.png
poster
src/tags
paper2/tags
IEEEtran
src/spr.jl
paper2/*Items.bib
data/
nbs/*.jld
*2016-01-12*
reports/
instanton_journal_article.zip
portable.zip
