*.mem
nb
*.aux
*.log
*.synctex.gz
*.out
*.bbl
*.blg
*.pdf
poster
src/tags
IEEEtran
paper2/*Items.bib
data/
papers/
posters/
presentations/
reports/
tags
collaboration/
nbs-summary/
src/getY.m
*.swp
images/
